.outer
  position: absolute
  height: 100%
  width: 100%
  min-height: 700px
  overflow: hidden
  .outer-left
    min-width: 334px
    width: 334px
    z-index: 11
    +r(768)
      min-width: 100%
      width: 100%
      z-index: 10
  .outer-right
    flex: 1 0 auto
    width: calc(100% -  334px)
    z-index: 10
    +r(768)
      +coverdiv
      transform: translateX(100%)
      transition: transform 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55)
      z-index: 11
      &.toggled
        transition: transform 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55)
        transform: translateX(0)
  .sidebar
    z-index: 100
    flex-direction: column
    flex: 0 1 344px
    overflow: hidden
    height: 100%
    border-right: 1px solid $grey
  .main
    z-index: 1
    flex: 1 0 auto
    background-size: cover
    width: 100%
    &-toregister
      display: block
      margin-top: 25%
      width: 190px
      text-decoration: none
    &-regist__form
      width: 327px
      min-height: 418px
      padding: 20px
      border-radius: 4px
      background-color: rgba(255, 255, 255, 0.8)

.h100
  height: 100%
// registr
.sidebar-regist__logo
  flex-basis: 27%
  padding: 28px
  padding-bottom: 0px

.registform
    flex-basis: 73%
    padding: 28px
    padding-top: 0px
    &-delimiter
      width: 100%
      position: relative
      z-index: 102
      text-align: center
      margin: 40px 0
      &:before,
      &:after
        position: absolute
        top: 50%
        width: 100%
        z-index: 101
        content: ''
        width: 106px
        height: 1px
        background: rgba($text-light, .5)
      &:after
        left: 1px
      &:before
        right: 1px
      span
        height: 14px
        color: #9ca9b2
        font-size: 12px
        font-weight: 400
        letter-spacing: -0.06px
        line-height: 14px
    &-textlink
      font-size: 12px
      font-weight: 400
      letter-spacing: -0.05px
      line-height: 14px
      color: #9ca9b2
      &__blue
        color: #1e7bcf
// registr end


// Common User Dashboard Style
.dashboard-user
  &__header
    height: 70px
    width: 100%
    background-color: #ffffff
    box-shadow: 0 0 8px rgba(33, 143, 216, 0.3)
    padding: 16px
    .header-logo
      max-width: 164px
      flex: 1 1 auto
    .header-menu
      flex: 0 1 auto
      li
        position: relative
        padding: 18px
        font-size: 16px
        font-weight: 400
        +tr(background .5s)
        &:hover
          +tr(background .5s)
          background: rgba(33, 143, 216, 0.08)
      a
        text-decoration: none
        white-space: nowrap
        line-height: 34px
        color: $text-dark
        +tr(color .5s)
        &:hover
          +tr(color .5s)
          color: darken($text-dark, 20%)
        &.active:after
          height: 3px
        &:after
          content: ""
          position: absolute
          top: calc(100% - 5px)
          left: 0
          width: 100%
          height: 0px
          background-color: $selected-blue
          +tr(height .5s)

    .header-account
      margin-left: auto
      .header-details
         margin-right: 7px
      .header-email
        height: 16px
        color: $text-dark
        font-size: 14px
        font-weight: 400
        line-height: 16px
        margin-bottom: 7px
      .header-details__more
      .header-replenish
        text-decoration: none
        height: 14px
        color: $grey-light
        font-size: 12px
        font-weight: 400
        line-height: 14px
        &:hover
          text-decoration: underline
      .header-balance
        height: 21px
        margin-left: 20px
        color: $text-dark
        font-size: 18px
        font-weight: 400
        line-height: 21px
      .header-avatar
        position: relative
        +tr(opacity .5s)
        &:hover .header-avatar__in
          +tr(opacity .5s)
          opacity: .3
        &:hover .header-logout
          visibility: visible
          opacity: 1
          +tr(opacity .5s)
        .header-avatar__in
          width: 50px
          height: 50px
          border-radius: 50%
          overflow: hidden
          border: 1px solid $grey 
        .header-logout
          cursor: pointer
          position: absolute
          color: $text-dark
          background: linear-gradient(to right ,#28c9f4, #5370ee)
          -webkit-background-clip: text
          -webkit-text-fill-color: transparent
          visibility: hidden
          opacity: 0
          font-size: 13px
          +nosel
          +tr(opacity .5s)

.dashboard-user__date-delimiter
  width: 100%
  text-align: center
  color: $grey-light
  font-size: 12px
  font-weight: 400
  letter-spacing: -0.06px
  line-height: 14px
  padding: 10px
  position: relative
  &:after,
  &:before
    content: ''
    display: block
    position: absolute
    top: 50%
    background-color: #f5f5f5
    height: 1px
    width: calc(50% - 5vw)
  &:after
    right: 0
  &:before
    left: 0 


// Create Window
.dashboard-user
  &__create-bottombar,
  &__create-topbar
    height: 65px
    flex: 0 0 auto
    z-index: 101
    padding: 0 20px
  &__create-topbar
    .Select.is-open,
    .Select.is-open .Select-menu-outer
      box-shadow: 0 2px 6px rgba(29, 122, 184, 0.3)
    
    img
      vertical-align: middle
    &__chooser
      position: relative
      margin-left: auto
      &-trigger
        min-width: 170px
        &__avatar
          width: 30px
        &__name
          margin-left: 13px
          max-width: 100px
          overflow: hidden
          text-overflow: ellipsis
        &__arrow
          margin-left: auto

      &-menu
        position: absolute
        width: 120%
        right: 0
        top: 118%
        opacity: 0
        z-index: -1
        +tr(opacity .5s)
        &.show-chooser-menu
          opacity: 1
          +tr(opacity .5s)
          z-index: 100
  &__create-bottombar
    .submit-post
      margin-left: auto

  &__create-forms
    flex: 1 0 100%
    width: 100%
  &__create-posteditor
    flex: 1 1 auto
    height: 100%
    z-index: 100
    border-top: 1px solid $grey
    border-bottom: 1px solid $grey
    padding: 20px
    overflow: auto
    // textarea
    //   display: block
    //   font-size: 16px
    //   resize: none
    //   width: 100%
    //   height: 100%
    //   border: 0
    //   position: relative
    //   z-index: 100
    button
      background: #fff
      &:hover
        background: $bg-blue
    // [class*="RichTextEditor__paragraph"]
    //   margin: 0


// Searching Window
.dashboard-user__searching
    flex: 1 0 100%
    width: 100%
    padding: 16px
    &-post
      width: 100%
      margin-bottom: 25px
    &-post__avatar
      flex: 0 0 50px
      width: 50px
      height: 50px
      border-radius: 50%
      overflow: hidden
      border: 1px solid $grey
    &-post__content
      border-radius: 4px
      background-color: $bg-blue
      padding: 9px 14px
      flex: 1 1 auto
      max-width: 70%
      min-width: 450px
      &__text
        color: $text-middle
      &__bottombar
        color: $text-dark
        margin-top: 10px
    &-post__constols
      flex: 1 1 auto
    &-post__date
      flex: 0 1 auto
      text-align: right
      color: $grey-light
      font-size: 10px
      font-weight: 400
      line-height: 11px
      letter-spacing: -0.05px
    &-reply__avatar
      flex: 0 0 50px
    &-reply__content
      border-radius: 4px
      background-color: $bg-blue
      padding: 9px 14px
      flex: 1 1 auto
      max-width: 70%
      min-width: 450px
      &__text
        color: $text-middle
    &-reply__constols
      flex: 1 1 auto
      align-self: flex-end
      button
        img
          margin-left: 2px
          margin-right: 4px



// Tabs
.dashboard-user__create-tab
  height: 100px
  background: $bg-blue
  width: 100%
  text-decoration: none
  color: $selected-blue
  &:hover
    background: darken($bg-blue, 10%)
  &-plus
    position: relative
    background: $selected-blue //$blue
    width: 50px
    height: 50px
    border-radius: 50%
    overflow: hidden
    border: 1px solid $grey 
    margin-left: 15px 
    &:after,
    &:before
      content: ''
      position: absolute
      width: 2px
      height: 23px
      border-radius: 1px
      background-color: #ffffff
    &:before
      top: 13px
      left: 24px
      width: 2px
      height: 23px
    &:after
      top: 23px
      left: 13px
      width: 23px
      height: 2px
  &-content
    margin-left: 20px 

.dashboard-user__search-tab
  height: 66px
  text-decoration: none
  padding: 7px
  background: $bg-blue
  &:hover
    background: darken($bg-blue, 10%)
  &.selected
    background: $selected-blue
  &-avatar
    flex: 0 1 65px
  &-details
    flex: 0 1 198px
    min-width: 0
    overflow: hidden
  &-info
    flex: 0 1  62px
    min-width: 0
  &-title
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
    width: 100%
    color: #333333
    font-size: 14px
    font-weight: 400
    letter-spacing: -0.06px
    line-height: 16px
    padding-bottom: 5px 
    .selected &
      color: #fff
  &-content
    display: block
    display: -webkit-box
    max-width: 204px
    height: 12px*$line-height*$lines-to-show
    color: $grey-light
    font-size: 12px
    font-weight: 400
    line-height: $line-height
    -webkit-line-clamp: $lines-to-show
    -webkit-box-orient: vertical
    overflow: hidden
    text-overflow: ellipsis
    letter-spacing: -0.05px
    .selected &
      color: #fff
  &-info-time
    align-self: flex-end
    time
      width: 30px
      height: 11px
      color: $grey-light
      font-size: 10px
      font-weight: 400
      line-height: 11px
      letter-spacing: -0.05px
      margin-left: 7px
      .selected &
        color: #fff
  &-info-money
    align-self: flex-end
    margin-top: 3px
    width: 84px
    height: 14px
    color: $text-dark
    font-size: 12px
    font-weight: 500
    letter-spacing: -0.05px
    line-height: 14px
    text-align: right
    .selected &
      color: #fff

.dashboard-user__history-tab
  height: 66px
  text-decoration: none
  color: $selected-blue
  padding: 7px
  &:hover
    background: $bg-blue
  &.selected
    background: $selected-blue
  &-avatar
    flex: 0 1 65px
  &-details
    flex: 0 1 198px
    min-width: 0
    overflow: hidden
  &-info
    flex: 0 1  62px
    min-width: 0
  &-title
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
    width: 100%
    color: #333333
    font-size: 14px
    font-weight: 400
    letter-spacing: -0.06px
    line-height: 16px
    padding-bottom: 5px 
    .selected &
      color: #fff
  &-content
    display: block
    display: -webkit-box
    max-width: 204px
    height: 12px*$line-height*$lines-to-show
    color: $grey-light
    font-size: 12px
    font-weight: 400
    line-height: $line-height
    -webkit-line-clamp: $lines-to-show
    -webkit-box-orient: vertical
    overflow: hidden
    text-overflow: ellipsis
    letter-spacing: -0.05px
    .selected &
      color: #fff
  &-info-time
    align-self: flex-end
    time
      width: 30px
      height: 11px
      color: $grey-light
      font-size: 10px
      font-weight: 400
      line-height: 11px
      letter-spacing: -0.05px
      margin-left: 2px
      .selected &
        color: #fff
  &-info-money
    align-self: flex-end
    margin-top: 3px
    width: 84px
    height: 14px
    color: $text-dark
    font-size: 12px
    font-weight: 500
    letter-spacing: -0.05px
    line-height: 14px
    text-align: right
    .selected &
      color: #fff


// LangLabel Element
.LangLabel
    width: 51px
    height: 17px
    border-radius: 4px
    background-color: #9ca9b2
    line-height: 5px
    vertical-align: top
    padding: 0 1px
    font-weight: 900
    font-size: 9px
    letter-spacing: -0.04px
    .selected &
      background-color: #fff
    &-from
      border-radius: 4px 0 0 4px
      height: 15px
      color: #9ca9b2
      line-height: 18px
      color: white
      width: 22px
      display: inline-block
      text-align: center
      vertical-align: middle
      text-transform: uppercase
      .selected &
        color: $selected-blue
    &-to
      border-radius: 0 4px 4px 0
      height: 15px
      color: #9ca9b2
      line-height: 16px
      width: 27px
      display: inline-block
      text-align: center
      background: #fff
      vertical-align: middle
      margin-top: 1px
      text-transform: uppercase
      .selected &
        background-color: $selected-blue
        color: #fff

// Indicator  Element
.String-indicator 
  font-size: 12px
  span
    margin-left: 8px

.Timer
    height: 12px
    width: 12px
    background: #9ca9b2
    overflow: hidden
    margin-bottom: -2px
    border-radius: 50%
    border: 1px solid #fff
    &-big
      height: 15px
      width: 15px
      margin-bottom: 0px
    path
      fill: $selected-blue
    .selected &
      background: $grey
      border: 1px solid $selected-blue
      path
        fill: #fff
