// signup styles
.signup-layout.outer
  .main
    padding: 50px
    overflow: auto
    &-regist__form
      width: 327px
      min-height: 418px
      padding: 20px
      border-radius: 4px
      background-color: rgba(255, 255, 255, 0.8)
      margin: auto
      .registform
        flex-basis: 73%
        padding: 28px
        padding-top: 0px
        +r(768)
          flex-basis: 80%
        +rh(578)
          flex-basis: 100%
          padding-top: 28px
        .safari & 
          /* autoprefixer: off */
          -webkit-flex-basis: auto
        &-delimiter
          width: 100%
          position: relative
          z-index: 102
          text-align: center
          margin: 40px 0
          &:before,
          &:after
            position: absolute
            top: 50%
            width: 100%
            z-index: 101
            content: ''
            width: 106px
            height: 1px
            background: rgba($text-light, .5)
          &:after
            left: 1px
          &:before
            right: 1px
          span
            height: 14px
            color: #9ca9b2
            font-size: 12px
            font-weight: 400
            letter-spacing: -0.06px
            line-height: 14px
        &-textlink
          font-size: 12px
          font-weight: 400
          letter-spacing: -0.05px
          line-height: 14px
          color: #9ca9b2
          &__blue
            color: #1e7bcf
        &__forgotpassword
          color: $text-light
// registr styles
.login-layout.outer
  .outer-left
    min-width: 334px
    width: 334px
    +r(768)
      min-width: 100%
      width: 100%
      z-index: 10
    .sidebar
      border: none
      .sidebar-regist__logo
        flex-basis: 27%
        padding: 28px
        padding-bottom: 0px
        +r(768)
          flex-basis: 20%
        +rh(578)
          display: none
        .safari &
          /* autoprefixer: off */
          -webkit-flex-basis: auto
      .registform
        flex-basis: 73%
        padding: 28px
        padding-top: 0px
        +r(768)
          flex-basis: 80%
        +rh(578)
          flex-basis: 100%
          padding-top: 28px
        .safari & 
          /* autoprefixer: off */
          -webkit-flex-basis: auto
        &-delimiter
          width: 100%
          position: relative
          z-index: 102
          text-align: center
          margin: 40px 0
          &:before,
          &:after
            position: absolute
            top: 50%
            width: 100%
            z-index: 101
            content: ''
            width: 106px
            height: 1px
            background: rgba($text-light, .5)
          &:after
            left: 1px
          &:before
            right: 1px
          span
            height: 14px
            color: #9ca9b2
            font-size: 12px
            font-weight: 400
            letter-spacing: -0.06px
            line-height: 14px
        &-textlink
          font-size: 12px
          font-weight: 400
          letter-spacing: -0.05px
          line-height: 14px
          color: #9ca9b2
          &__blue
            color: #1e7bcf
        &__forgotpassword
          color: $text-light
  .outer-right
    width: calc(100% -  334px)
    +r(768)
      +coverdiv
      transform: translateX(100%)
      transition: transform 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55)
      z-index: 12
      &.toggled
        display: flex
        transition: transform 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55)
        transform: translateX(0)
    .main
      &-toregister
        display: block
        margin-top: 25%
        width: 200px
        text-decoration: none
      &-regist__mini p
        color: $text-light



// registr end

//
// ALL USER DASHBOARD STYLES START HERE
//
// Common User Dashboard Style
.dashboard-user
  .outer-left
    min-width: 334px
    width: 334px
    background: #fff
    align-items: flex-start
    height: 100%
  .sidebar
    flex: 0 1 344px
    height: 100%
  .outer-right
    width: calc(100% -  334px)
.dashboard-user .outer-right
  top: 66px
.data__delimiter
  width: 100%
  text-align: center
  color: $grey-light
  font-size: 12px
  font-weight: 400
  letter-spacing: -0.06px
  line-height: 14px
  padding: 10px
  +nosel
  position: relative
  &:after,
  &:before
    content: ''
    display: block
    position: absolute
    top: 50%
    background-color: #f5f5f5
    height: 1px
    width: calc(50% - 5vw)
    +r(768)
      width: calc(50% - 20vw)
  &:after
    right: 0
  &:before
    left: 0 

.breadcrumbs
  top: 39px
  position: fixed
  width: 100%
  height: 24px
  color: #1ea5fc
  background: #fff
  font-family: Roboto
  font-size: 12px
  font-weight: 500
  letter-spacing: -0.05px
  line-height: 14px
  border-bottom: 1px solid #c8ced3
  z-index: 1000
  +nosel
  span
    color: $grey-light
    margin: auto
  &__back
    position: absolute
    top: 5px
    color: rgb(0, 192, 255)
    font-size: 10px
    margin-left: 10px
    margin-right: 4px
    text-decoration: none
    svg
      height: 5px
      position: absolute
      top: 4px
      left: -3px
      .safari &
        top: 3px
    &:hover
      color: darken(rgb(0, 192, 255),10)
  &__next
    position: absolute
    top: 5px
    right: 0
    font-size: 10px
    color: rgb(0, 192, 255)
    margin-right: 4px
    text-decoration: none
    line-height: 21px
    svg
      height: 5px
      position: absolute
      top: 4px
      right: -3px
      .safari &
        top: 3px
    &:hover
      color: darken(rgb(0, 192, 255),10)

.breadcrumbs 
  +rmin(769)
    ~ *:nth-of-type(2)
      padding-top: 25px
  +r(768)
    ~ *:nth-of-type(1)
      margin-top: 23px

// USER CREAT Window
.dashboard-user
  &__create-bottombar,
  &__create-topbar
    height: 65px
    flex: 0 0 auto
    z-index: 101
    padding: 0 20px
    +nosel
    +r(768)
        padding: 8px
  &__create-topbar
    +r(768)
      height: 113px
      align-items: flex-end
  &__create-bottombar
   +r(768)
      height: 40px

  &__create-topbar
    > .Select
      width: 40%
      max-width: 150px
    .Select.is-open,
    .Select.is-open .Select-menu-outer
      box-shadow: 0 2px 6px rgba(29, 122, 184, 0.3)
    img
      vertical-align: middle
    &__chooser
      position: relative
      margin-left: auto
      +r(768)
        position: absolute
        top: 30px
        right: 2px
      &-trigger
        min-width: 170px
        &__avatar
          width: 30px
        &__name
          margin-left: 13px
          max-width: 100px
          overflow: hidden
          text-overflow: ellipsis
        &__arrow
          margin-left: auto

      &-menu
        position: absolute
        width: 120%
        right: 0
        top: 118%
        opacity: 0
        z-index: -1
        +tr(opacity .5s)
        &.show-chooser-menu
          opacity: 1
          +tr(opacity .5s)
          z-index: 100
  &__create-bottombar
    .submit-post
      margin-left: auto

  &__create-forms
    flex: 1 0 100%
    width: 100%
  &__create-posteditor
    flex: 1 1 auto
    height: 100%
    z-index: 100
    border-top: 1px solid $grey
    border-bottom: 1px solid $grey
    padding: 20px
    overflow: auto
    +r(768)
      flex: 1 1 auto
      padding: 10px
    textarea
      display: block
      font-size: 16px
      resize: none
      width: 100%
      height: 100%
      border: 0
      position: relative
      z-index: 100
    button
      background: #fff
      &:hover
        background: $bg-blue
    // [class*="RichTextEditor__paragraph"]
    //   margin: 0


// USER SEARCHING Window
.dashboard-user__searching
    flex: 1 0 100%
    width: 100%
    padding: 16px
    overflow: auto
    // Post
    &-post
      width: 100%
      margin-bottom: 25px
      flex: 0 0 auto
      position: relative
    &-post__avatar
      flex: 0 0 50px
      width: 50px
      height: 50px
      border-radius: 50%
      overflow: hidden
      +nosel
      +r(768)
        flex: 0 0 20px
        width: 20px
        height: 20px
      img
        +r(768)
          flex: 0 0 20px
          width: 20px
          height: 20px
          width: 18px
    &-post__content
      border-radius: 4px
      background-color: $bg-blue
      padding: 9px 14px
      flex: 1 1 70%
      max-width: 70%
      min-width: 450px
      +r(768)
        flex: 1 1 89%
        max-width: none
        min-width: 0
      &__text
        color: $text-middle
        font-weight: 400
        letter-spacing: -0.06px
        line-height: 20px
        font-size: 14px
      &__bottombar
        +nosel
        color: $text-dark
        margin-top: 10px
        flex-flow: row wrap
        & > *
          margin-bottom: 10px
    &-post__constols
      flex: 1 1 auto
      +nosel
      +r(768)
        margin-left: -13px
    &-post__date
      flex: 0 1 auto
      text-align: right
      color: $grey-light
      font-size: 10px
      font-weight: 400
      line-height: 11px
      letter-spacing: -0.05px
      +nosel

      // Reply
    &-reply
      width: 100%
      margin-bottom: 25px
      flex: 0 0 auto
    &-reply__avatar
      flex: 0 0 50px
      +nosel
    &-reply__content
      border-radius: 4px
      background-color: $selected-blue
      padding: 9px 14px
      flex: 1 1 70%
      max-width: 70%
      min-width: 450px
      +r(768)
        flex: 1 0 89%
        max-width: none
        min-width: auto
      &__text
        color: #fff
        background: transparent
        display: block
        font-size: 14px
        resize: none
        width: 100%
        height: 100%
        border: 0
        font-weight: 100
        letter-spacing: -0.06px
        line-height: 20px
        min-height: 100px
    &-reply__constols
      flex: 1 1 auto
      align-self: flex-end
      +nosel
      button
        img
          margin-left: 2px
          margin-right: 4px


// USER HISTORY Window
.dashboard-user__history
    flex: 1 0 100%
    width: auto
    min-width: 100%
    padding: 16px
    overflow: auto
    // Post
    &-post
      width: 100%
      margin-bottom: 25px
      flex: 0 0 auto
      position: relative
    &-post__avatar
      flex: 0 0 50px
      width: 50px
      height: 50px
      border-radius: 50%
      overflow: hidden
      +nosel
      +r(768)
        flex: 0 0 20px
        width: 20px
        height: 20px
      img
        +r(768)
          flex: 0 0 20px
          width: 20px
          height: 20px
          width: 20px
    &-post__content
      border-radius: 4px
      background-color: $bg-blue
      padding: 9px 14px
      flex: 1 1 70%
      max-width: 70%
      min-width: 450px
      +r(768)
        flex: 1 1 89%
        max-width: none
        min-width: 0
      &__text
        color: $text-middle
        font-weight: 400
        letter-spacing: -0.06px
        line-height: 20px
        font-size: 14px
      &__bottombar
        +nosel
        color: $text-dark
        margin-top: 10px
        flex-flow: row wrap
        & > *
          margin-bottom: 10px
    &-post__constols
      flex: 1 1 auto
      +nosel
      +r(768)
        margin-left: -13px
    &-post__date
      flex: 0 1 auto
      text-align: right
      color: $grey-light
      font-size: 10px
      font-weight: 400
      line-height: 11px
      letter-spacing: -0.05px
      +nosel
      +r(768)
       
      // Reply
    &-reply
      width: 100%
      margin-bottom: 25px
      flex: 0 0 auto
      position: relative
      +r(768)
        width: 100%
    &-reply__avatar
      flex: 0 0 50px
      +nosel
      +r(768)
        flex: 0 0 20px
        width: 20px
        height: 20px
      img
        +r(768)
          flex: 0 0 20px
          width: 20px
          height: 20px
          width: 20px
    &-reply__content
      border-radius: 4px
      background-color: $selected-blue
      padding: 9px 14px
      flex: 1 1 70%
      max-width: 70%
      min-width: 450px
      +r(768)
        flex: 1 1 auto
        max-width: none
        min-width: 0
      &__text
        color: #fff
        background: transparent
        display: block
        font-size: 14px
        resize: none
        width: 100%
        border: 0
        font-weight: 100
        letter-spacing: -0.06px
        line-height: 20px
    &-reply__constols
      flex: 1 1 auto
      align-self: flex-end
      +nosel
      +r(768)
        flex: 0 1 auto
        position: relative
        margin-left: -39px
        transform: translateX(38px)
      button
        +r(768)
          font: 0/0 a
        img
          margin-left: 2px
          margin-right: 4px
    &-reply__date
      flex: 0 1 auto
      text-align: right
      color: $grey-light
      font-size: 10px
      font-weight: 400
      line-height: 11px
      letter-spacing: -0.05px
      +nosel
      +r(768)
         
    // Create new from history
    &-create
      width: 100%
      margin-top: 25px
      margin-bottom: 25px
      flex: 0 0 auto
      +r(768)
        width: 86%
      &__content
        border-radius: 4px
        background-color: $bg-blue
        padding: 9px 14px
        flex: 1 1 70%
        max-width: 70%
        min-width: 450px
        height: 72px
        +tr(background .5s)
        +r(768)
          flex: 1 0 89%
          max-width: none
          min-width: auto
        &__plus
          position: relative
          background: $selected-blue //$blue
          width: 50px
          height: 50px
          border-radius: 50%
          overflow: hidden
          border: 1px solid $grey
          +r(768)
            width: 20px
            height: 20px
            min-width: 20px
          &:after,
          &:before
            content: ''
            position: absolute
            width: 2px
            height: 23px
            border-radius: 1px
            background-color: #ffffff
            +r(768)
              width: 1px
              height: 13px
          &:before
            top: 13px
            left: 24px
            width: 2px
            height: 23px
            +r(768)
              top: 4px
              left: 8.5px
              width: 1px
              height: 10px
          &:after
            top: 23px
            left: 13px
            width: 23px
            height: 2px
            +r(768)
              top: 7.5px
              left: 3.5px
              width: 11px
              height: 1px

        &__text
          margin-left: 15px 
          color: $selected-blue
        &:hover
          background-color: darken($bg-blue,5)

// USER Tabs 
.dashboard-user__create-tab
  height: 100px
  background: $bg-blue
  width: 100%
  text-decoration: none
  color: $selected-blue
  border-bottom: 1px $grey solid
  flex-shrink: 0
  +nosel
  &:hover
    background: darken($bg-blue, 10%)
  &-plus
    position: relative
    background: $selected-blue //$blue
    width: 50px
    height: 50px
    border-radius: 50%
    overflow: hidden
    border: 1px solid $grey 
    margin-left: 15px 
    &:after,
    &:before
      content: ''
      position: absolute
      width: 2px
      height: 23px
      border-radius: 1px
      background-color: #ffffff
    &:before
      top: 13px
      left: 24px
      width: 2px
      height: 23px
    &:after
      top: 23px
      left: 13px
      width: 23px
      height: 2px
  &-content
    margin-left: 20px 

.dashboard-user__search-tab
  height: 66px
  text-decoration: none
  flex-shrink: 0
  padding: 7px
  background: $bg-blue
  border-bottom: 1px $grey solid
  +nosel
  &:hover
    background: darken($bg-blue, 10%)
  &.selected
    background: $selected-blue
  &-avatar
    flex: 0 1 65px
  &-details
    flex: 1 1 198px
    min-width: 0
    overflow: hidden
    padding-left: 10px
  &-info
    flex: 0 1  62px
    min-width: 0
  &-title
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
    width: 100%
    color: #333333
    font-size: 14px
    font-weight: 400
    letter-spacing: -0.06px
    line-height: 16px
    padding-bottom: 5px 
    .selected &
      color: #fff
  &-content
    display: block
    display: -webkit-box
    max-width: 204px
    height: 12px*$line-height*$lines-to-show
    color: $grey-light
    font-size: 12px
    font-weight: 400
    line-height: $line-height
    -webkit-line-clamp: $lines-to-show
    -webkit-box-orient: vertical
    overflow: hidden
    text-overflow: ellipsis
    letter-spacing: -0.05px
    .selected &
      color: #fff
  &-info
    &__time
      align-self: flex-end
      time
        width: 30px
        height: 11px
        color: $grey-light
        font-size: 10px
        font-weight: 400
        line-height: 11px
        letter-spacing: -0.05px
        margin-left: 7px
        .selected &
          color: #fff
    &__money
      align-self: flex-end
      margin-top: 3px
      width: 84px
      height: 14px
      color: $text-dark
      font-size: 12px
      font-weight: 500
      letter-spacing: -0.05px
      line-height: 14px
      text-align: right
      .selected &
        color: #fff

.dashboard-user__history-tab
  height: 66px
  text-decoration: none
  color: $selected-blue
  padding: 7px
  border-bottom: 1px $grey solid
  flex-shrink: 0
  +nosel
  &:hover
    background: $bg-blue
  &.selected
    background: $selected-blue
  &-avatar
    flex: 0 1 65px
  &-details
    flex: 1 1 198px
    min-width: 0
    overflow: hidden
    padding-left: 10px
  &-info
    flex: 0 1 62px
    min-width: 0
  &-title
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
    width: 100%
    color: #333333
    font-size: 14px
    font-weight: 400
    letter-spacing: -0.06px
    line-height: 16px
    padding-bottom: 5px 
    .selected &
      color: #fff
  &-content
    display: block
    display: -webkit-box
    max-width: 204px
    height: 12px*$line-height*$lines-to-show
    color: $grey-light
    font-size: 12px
    font-weight: 400
    line-height: $line-height
    -webkit-line-clamp: $lines-to-show
    -webkit-box-orient: vertical
    overflow: hidden
    text-overflow: ellipsis
    letter-spacing: -0.05px
    .selected &
      color: #fff
  &-info
    &__time
      align-self: flex-end
      time
        width: 30px
        height: 11px
        color: $grey-light
        font-size: 10px
        font-weight: 400
        line-height: 11px
        letter-spacing: -0.05px
        margin-left: 2px
        .selected &
          color: #fff
    &__money
      align-self: flex-end
      margin-top: 3px
      width: 84px
      height: 14px
      color: $text-dark
      font-size: 12px
      font-weight: 500
      letter-spacing: -0.05px
      line-height: 14px
      text-align: right
      .selected &
        color: #fff
//
// ALL USER DASHBOARD STYLES END HERE
//




//
// Shared Element 
//
// LangLabel Element
.LangLabel
    width: 51px
    height: 17px
    border-radius: 4px
    background-color: #9ca9b2
    line-height: 5px
    vertical-align: top
    padding: 0 1px
    font-weight: 900
    font-size: 9px
    letter-spacing: -0.04px
    white-space: nowrap
    .selected &
      background-color: #fff
    &-from
      border-radius: 4px 0 0 4px
      height: 15px
      color: #9ca9b2
      line-height: 18px
      color: white
      width: 22px
      display: inline-block
      text-align: center
      vertical-align: middle
      text-transform: uppercase
      .selected &
        color: $selected-blue
    &-to
      border-radius: 0 4px 4px 0
      height: 15px
      color: #9ca9b2
      line-height: 16px
      width: 27px
      display: inline-block
      text-align: center
      background: #fff
      vertical-align: middle
      margin-top: 1px
      text-transform: uppercase
      .selected &
        background-color: $selected-blue
        color: #fff

// Indicator  Element
.String-indicator 
  font-size: 12px
  span
    white-space: nowrap
    overflow: hidden
    margin-left: 8px
    line-height: 11px

.Timer
    height: 12px
    width: 12px
    background: #9ca9b2
    overflow: hidden
    margin-bottom: -2px
    border-radius: 50%
    border: 1px solid #fff
    &-big
      height: 15px
      width: 15px
      margin-bottom: 0px
    path
      fill: $selected-blue
    .selected &
      background: $grey
      border: 1px solid $selected-blue
      path
        fill: #fff

.DisplaySwitcher
  position: absolute
  bottom: 0
  z-index: 200
//
// Shared Element END
//

//
//****************************************************************************************************************************************************************
//****************************************************************************************************************************************************************
// ALL TRANSLATOR DASHBOARD STYLES START HERE
//


// Common User Dashboard Style
//


.translator
  .outer-left__narrowed,
  .outer-right__narrowed
    min-width: 180px
    width: 180px
    +r(768)
      position: absolute
      top: 40px
      bottom: 0
      z-index: 150

  .outer-right__expanded,
  .outer-left__expanded
    position: relative
    min-width: 300px
    width: 300px
    +r(768)
      width: 100%
  .outer-main__expanded
    position: relative
    width: calc(100% -  180px - 300px)
    overflow: auto
    .main > div 
      width: 100%
      height: 100%
    +r(768)
      width: 100%
  .sidebar
    position: relative
    background: #fff


// ASide Menu 
.translator
  &-menu
    height: 100%
    background-color: #353846
    li
      display: block
      width: 100%
      height: 36px
    &__item
      width: 100%
      height: 100%
      padding: 0 16px
      color: #fff
      font-size: 12px
      font-weight: 500
      letter-spacing: -0.05px
      line-height: 20px
      &__icon
        margin-right: 12px
        style: 0 0 17px
        width: 17px
        +nosel
      &__info
        margin-left: auto
        width: 18px
        height: 14px
        border-radius: 8px
        background-color: #fff
        width: 18px
        font-size: 8px
        font-weight: 400
        letter-spacing: -0.04px
        line-height: 15px
        text-align: center
        +nosel
      &__level-1
        background-color: #353846
        li.active &
          background-color: darken(#353846,7)
        &:hover
          background-color: darken(#353846,1)
          color: rgba(#fff,.9)
        .translator-menu__item__info
          background-color: #fff
          color: #262b3a
      &__level-2
        background-color: #262b3a
        li.active &
          background-color: darken(#262b3a,3)
        &:hover
          background-color: darken(#262b3a,1)
          color: rgba(#fff,.9)
        .translator-menu__item__info
          background-color: #0099ff
          color: #fff
    &__delimiter
      width: 100%
      height: 1px
      background-color: #ffffff
      opacity: 0.1

// ASide Menu End

// TABs Styles go here  Translator dashboard 

.translator-tab__topline
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 24px
  color: #1ea5fc
  background: #fff
  font-family: Roboto
  font-size: 12px
  font-weight: 500
  letter-spacing: -0.05px
  line-height: 14px
  border-bottom: 1px solid #c8ced3
  +nosel
  span
    color: $grey-light
    margin: auto
  &__back
    position: absolute
    color: rgb(0, 192, 255)
    margin-left: 10px
    margin-right: 4px
    &:hover
      color: darken(rgb(0, 192, 255),10)

.translator-tab__topline ~ *:first-of-type
    margin-top: 24px


// tab of history and in-word are shared common styles at translator dashboard
.translator-tab  
  height: 66px
  text-decoration: none
  color: $selected-blue
  padding: 7px
  border-bottom: 1px $grey solid
  +nosel
  &:hover
    background: $bg-blue
  &.selected
    background: $selected-blue
  &-avatar
    flex: 0 1 65px
  &-details
    flex: 0 1 198px
    min-width: 0
    overflow: hidden
    padding-left: 10px
    +r(768)
      flex: 1 1 198px
  &-info
    flex: 0 1  62px
    min-width: 0
  &-title
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
    width: 100%
    color: #333333
    font-size: 14px
    font-weight: 400
    letter-spacing: -0.06px
    line-height: 16px
    padding-bottom: 5px 
    .selected &
      color: #fff
  &-content
    display: block
    display: -webkit-box
    max-width: 204px
    height: 12px*$line-height*$lines-to-show
    color: $grey-light
    font-size: 12px
    font-weight: 400
    line-height: $line-height
    -webkit-line-clamp: $lines-to-show
    -webkit-box-orient: vertical
    overflow: hidden
    text-overflow: ellipsis
    letter-spacing: -0.05px
    .selected &
      color: #fff
  &-info
    &__time
      align-self: flex-end
      time
        width: 30px
        height: 11px
        color: $grey-light
        font-size: 10px
        font-weight: 400
        line-height: 11px
        letter-spacing: -0.05px
        margin-left: 2px
        .selected &
          color: #fff
    &__duration
      align-self: flex-end
      overflow: hidden
      margin-top: 3px
      width: 84px
      height: 14px
      color: $text-dark
      font-size: 12px
      font-weight: 500
      letter-spacing: -0.05px
      line-height: 14px
      text-align: right
      .selected &
        color: #fff


// TABs Styles ends here  Translator dashboard 


// Main Screen (Reply) Translator dashboard /translator/reply/uuid

.translator-replypost
  flex: 1 0 100%
  width: 100%
  height: 100%
  padding: 16px
  overflow: auto
// Post  (Request)
.translator-post
  width: 100%
  margin-bottom: 25px
  flex: 0 0 auto
  &__avatar
    flex: 0 0 50px
    width: 50px
    height: 50px
    border-radius: 50%
    overflow: hidden
    border: 1px solid $grey
    +nosel
  &__content
    border-radius: 4px
    background-color: $bg-blue
    padding: 9px 14px
    flex: 1 1 100%
    max-width: 100%
    +r(768)
      min-width: 0
    &__text
      color: $text-middle
      font-weight: 400
      letter-spacing: -0.06px
      line-height: 20px
      font-size: 14px
    &__bottombar
      +nosel
      color: $text-dark
      margin-top: 10px
      flex-flow: wrap
      > *
        margin-top: 10px
  &__constols
    flex: 1 1 auto
    +nosel

  &__date
    flex: 0 1 auto
    text-align: right
    color: $grey-light
    font-size: 10px
    font-weight: 400
    line-height: 11px
    letter-spacing: -0.05px
    margin-left: 40px
    +nosel
    +r(768)
      margin-left: 12px

// Reply  (Answer to User Request)
.translator-reply
  position: relative
  width: 100%
  margin-bottom: 25px
  flex: 0 0 auto
  margin-top: auto
  +r(768)
    margin-bottom: 0px 
  &:before
    content: ''
    position: absolute
    display: block
    top: -5px
    left: -20px
    width: calc(100% + 35px)
    height: 1px
    background: $grey
   
  textarea
    display: block
    font-size: 16px
    resize: none
    width: 100%
    height: 100%
    border: 0
    position: relative
    z-index: 100
  &__editor
    width: 100% 
  &__sent
    float: right


// End Main Screen (Reply) Translator dashboard /translator/reply/uuid


// Main Screen Feed Translator dashboard translator/feed/*

.translator-feed__topline
  position: fixed
  top: 70px
  left: 0
  width: 100%
  height: 25px
  color: #1ea5fc
  background: #fff
  font-family: Roboto
  font-size: 12px
  font-weight: 500
  letter-spacing: -0.05px
  line-height: 14px
  border-bottom: 1px solid #c8ced3
  +nosel
  span
    color: $grey-light
    margin: auto
  &__back
    position: absolute
    color: rgb(0, 192, 255)
    margin-left: 10px
    margin-right: 4px
    &:hover
      color: darken(rgb(0, 192, 255),10)

.translator-feed__topline ~ *:nth-of-type(2)
    margin-top: 40px


.translator
  &-feed
    width: auto
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15)
    border-radius: 2px
    background-color: #ffffff
    padding: 16px 0 16px 16px
    +r(768)
      width: 90%
      margin: 10px auto
      flex-direction: column
      padding: 8px
      &:nth-of-type(2)
        margin-top: 40px
    &__avatar
      flex: 0 1 65px
      +r(768)
        display: flex
        align-items: center
        flex: 0 1 auto
        width: 100%
        flex-direction: row
        img
          width: 20px
          height: 20px
          margin-right: 10px
    &-details
      flex: 0 1 198px
      min-width: 0
      overflow: hidden
      padding-left: 10px
    &-title
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden
      width: 100%
      color: #333333
      font-size: 14px
      font-weight: 400
      letter-spacing: -0.06px
      line-height: 16px
      padding-bottom: 5px 
    &__content
      flex: 1 1 auto
      &__topbar
        padding-right: 12px 
        &__name
          height: 16px
          margin-right: 10px
          color: #414141
          font-family: Roboto
          font-size: 14px
          font-weight: 400
          letter-spacing: -0.06px
          line-height: 14px
          +r(768)
            width: auto
        &__personal
          height: 14px
          padding: 1px 4px
          border-radius: 4px
          background-color: #0099ff
          color: #ffffff
          text-align: center
          font-size: 10px
          font-weight: 500
          letter-spacing: -0.05px
          line-height: 11px
        &__date
          margin-left: auto
          text-align: center
          color: $grey-light
          font-size: 12px
          font-weight: 400
          letter-spacing: -0.06px
          line-height: 14px

      &__text
        display: block
        display: -webkit-box
        max-width: 204px
        height: 12px*$line-height*$lines-to-show
        color: $grey-light
        font-size: 12px
        font-weight: 400
        line-height: $line-height
        -webkit-line-clamp: $lines-to-show
        -webkit-box-orient: vertical
        overflow: hidden
        text-overflow: ellipsis
        letter-spacing: -0.05px
        +r(768)
          margin-top: 10px 
      &__bottombar
        flex-flow: wrap
        width: 100%
        > *
          margin-top: 10px
    &__constols
      height: 100% 
      width: 97px
      border-left: 1px solid #d5e0e9
      height: auto
      margin: -16px
      margin-left: 0
      margin-right: 0
      cursor: pointer
      +r(768)
        height: 40px
        margin: 16px 0
        width: 100%
        border: none
        border: 1px solid #d5e0e9
    &__placeholder
      opacity: 0.6
      color: #414141
      font-family: Roboto
      font-size: 14px
      font-weight: 400
      letter-spacing: -0.06px
      line-height: 16px

// End Main Screen Feed Translator dashboard translator/feed/* 

// Main Screen History Translator  history/*
.translator-history
  flex: 1 0 100%
  width: 100%
  padding: 16px
  overflow: auto
  // Post
  &-post
    width: 100%
    margin-bottom: 25px
    flex: 0 0 auto
  &-post__avatar
    flex: 0 0 50px
    width: 50px
    height: 50px
    border-radius: 50%
    overflow: hidden
    +nosel
    +r(768)
        flex: 0 0 20px
        width: 20px
        height: 20px
    img
      +r(768)
        flex: 0 0 20px
        width: 20px
        height: 20px
        width: 20px
  &-post__content
    border-radius: 4px
    background-color: $bg-blue
    padding: 9px 14px
    flex: 1 1 70%
    max-width: 70%
    min-width: 450px
    +r(768)
      flex: 1 1 89%
      max-width: none
      min-width: auto
    &__text
      color: $text-middle
      font-weight: 400
      letter-spacing: -0.06px
      line-height: 20px
      font-size: 14px
    &__bottombar
      +nosel
      color: $text-dark
      margin-top: 10px
      flex-flow: row wrap
      & > *
        margin-bottom: 10px
          
  &-post__constols
    flex: 1 1 auto
    +nosel
    +r(768)
      margin-left: -13px
  &-post__date
    flex: 0 1 auto
    text-align: right
    color: $grey-light
    font-size: 10px
    font-weight: 400
    line-height: 11px
    letter-spacing: -0.05px
    +nosel
    // Reply
  &-reply
    width: 100%
    margin-bottom: 25px
    flex: 0 0 auto
  &-reply__avatar
    flex: 0 0 50px
    +nosel
    +r(768)
      flex: 0 0 20px
      width: 20px
      height: 20px
    img
      +r(768)
        flex: 0 0 20px
        width: 20px
        height: 20px
        width: 20px
  &-reply__content
    border-radius: 4px
    background-color: $selected-blue
    padding: 9px 14px
    flex: 1 1 70%
    max-width: 70%
    min-width: 450px
    +r(768)
      flex: 1 1 89%
      max-width: none
      min-width: auto
    &__text
      color: #fff
      background: transparent
      display: block
      font-size: 14px
      resize: none
      width: 100%
      height: 100%
      border: 0
      font-weight: 100
      letter-spacing: -0.06px
      line-height: 20px
      min-height: 100px
  &-reply__constols
    flex: 1 1 auto
    align-self: flex-end
    +nosel
    +r(768)
      margin-left: -38px
      position: relative
      transform: translate(38px)
    button
      +r(768)
        font: 0/0 a
      img
        margin-left: 2px
        margin-right: 4px

//
// ALL TRANSLATOR DASHBOARD STYLES ENDED HERE
//



//
//****************************************************************************************************************************************************************
//****************************************************************************************************************************************************************
// ALL ADMIN DASHBOARD STYLES START HERE
//


// Common User Dashboard Style
//


.admin
  .outer-left__narrowed,
  .outer-right__narrowed
    min-width: 180px
    width: 180px
    +r(768)
      position: absolute
      top: 40px
      bottom: 0
      z-index: 150

  .outer-right__expanded,
  .outer-left__expanded
    position: relative
    min-width: 300px
    width: 300px
    +r(768)
      width: 100%
  .outer-main__expanded
    position: relative
    width: calc(100% -  180px - 300px)
    overflow: auto
    .main > div 
      width: 100%
      height: 100%
    +r(768)
      width: 100%
  .outer-main__full
    position: relative
    width: 100%
    overflow: auto
    .main > div 
      width: 100%
      height: 100%
  .sidebar
    position: relative
    background: #fff
    width: 100%


// ASide Menu 
.admin
  &-menu
    height: 100%
    background-color: #353846
    li
      display: block
      width: 100%
      height: 36px
    &__item
      width: 100%
      height: 100%
      padding: 0 16px
      color: #fff
      font-size: 12px
      font-weight: 500
      letter-spacing: -0.05px
      line-height: 20px
      &__icon
        margin-right: 12px
        style: 0 0 17px
        width: 17px
        +nosel
      &__info
        margin-left: auto
        width: 18px
        height: 14px
        border-radius: 8px
        background-color: #fff
        width: 18px
        font-size: 8px
        font-weight: 400
        letter-spacing: -0.04px
        line-height: 15px
        text-align: center
        +nosel
      &__level-1
        background-color: #353846
        color: #fff
        li.active &
          background-color: darken(#353846,7)
        &:hover
          background-color: darken(#353846,1)
          color: rgba(#fff,.9)
        .translator-menu__item__info
          background-color: #fff
          color: #262b3a
      &__level-2
        background-color: #262b3a
        li.active &
          background-color: darken(#262b3a,3)
        &:hover
          background-color: darken(#262b3a,1)
        .translator-menu__item__info
          background-color: #0099ff
          color: #fff
    &__delimiter
      width: 100%
      height: 1px
      background-color: #ffffff
      opacity: 0.1

// ASide Menu End

.admin-list__topline
  position: fixed
  top: 70px
  left: 0
  width: 100%
  height: 25px
  color: #1ea5fc
  background: #fff
  font-family: Roboto
  font-size: 12px
  font-weight: 500
  letter-spacing: -0.05px
  line-height: 14px
  border-bottom: 1px solid #c8ced3
  +nosel
  span
    color: $grey-light
    margin: auto
  &__back
    position: absolute
    color: rgb(0, 192, 255)
    margin-left: 10px
    margin-right: 4px
    &:hover
      color: darken(rgb(0, 192, 255),10)

.admin-list__topline ~ *:nth-of-type(2)
    margin-top: 40px

.admin-list
  &__topbar
    margin-top: 40px
    min-width: 959px
    width: 90%
    margin-left: auto
    margin-right: auto
  &__filter
    margin-left: auto !important
  &__delbtn:disabled
    pointer-events: none
    opacity: 0.5

.admin-user-details
  background: $bg-blue
  &__topArea
    display: flex
    flex-direction: row
    text-decoration: none
    color: #228fd8
    padding: 7px
    +nosel
  &__avatar
    flex: 0 1 65px
    img
      width: 50px
      height: 50px
  &__personalInfo
    flex: 0 1 198px
    min-width: 0
    overflow: hidden
    padding-left: 10px
    &__title
      font-size: 14px
      letter-spacing: -0.06px
      color: $text-middle
    &__email
      font-size: 12px
      letter-spacing: -0.05px
      color: $grey-light
      margin-top: 1px
    &__type
      margin-top: 6px
      font-weight: 500
      font-size: 8px
      color: #fff
      height: 14px
      line-height: 14px
      padding: 0px 4px
      border-radius: 4px
      text-align: center
      vertical-align: middle
      font-weight: 500
      letter-spacing: -0.05px
    &__typeU,
    &__typeO
      background-color: #C8CED3
    &__typeC,
    &__typeG
      background-color: #E16666
    &__typeT,
    &__typeP
      background-color: #268ED6
  &__delimiter
    margin: 0 14px
    height: 1px
    width: auto
    background: $grey 
  &__serviceInfo
    margin: 11px 16px
    &__regData,
    &__spendTime,
    &__amountSymble,
    &__balance
      font-size: 12px
      line-height: 14px
      letter-spacing: -0.05px
      margin: 7px 0px
      & span
        color: $grey-light
      & data
        color: $text-light


.translator-tab__topline ~ *:first-of-type
    margin-top: 24px


// tab of history and in-word are shared common styles at translator dashboard
.admin-tab  
  height: 66px
  text-decoration: none
  color: $selected-blue
  padding: 7px
  border-bottom: 1px $grey solid
  +nosel
  &:hover
    background: $bg-blue
  &.selected
    background: $selected-blue
  &-avatar
    flex: 0 1 65px
  &-details
    flex: 0 1 198px
    min-width: 0
    overflow: hidden
    padding-left: 10px
    +r(768)
      flex: 1 1 198px
  &-info
    flex: 0 1  62px
    min-width: 0
  &-title
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
    width: 100%
    color: #333333
    font-size: 14px
    font-weight: 400
    letter-spacing: -0.06px
    line-height: 16px
    padding-bottom: 5px 
    .selected &
      color: #fff
  &-content
    display: block
    display: -webkit-box
    max-width: 204px
    height: 12px*$line-height*$lines-to-show
    color: $grey-light
    font-size: 12px
    font-weight: 400
    line-height: $line-height
    -webkit-line-clamp: $lines-to-show
    -webkit-box-orient: vertical
    overflow: hidden
    text-overflow: ellipsis
    letter-spacing: -0.05px
    .selected &
      color: #fff
  &-info
    &__time
      align-self: flex-end
      time
        width: 30px
        height: 11px
        color: $grey-light
        font-size: 10px
        font-weight: 400
        line-height: 11px
        letter-spacing: -0.05px
        margin-left: 2px
        .selected &
          color: #fff
    &__duration
      align-self: flex-end
      overflow: hidden
      margin-top: 3px
      width: 84px
      height: 14px
      color: $text-dark
      font-size: 12px
      font-weight: 500
      letter-spacing: -0.05px
      line-height: 14px
      text-align: right
      .selected &
        color: #fff

// Admin History 

.admin-historypost
  flex: 1 0 100%
  width: 100%
  padding: 16px
  overflow: auto
// History User Post  (Request)
.admin-historypost-post
  width: 100%
  flex: 0 0 auto
  &__avatar
    flex: 0 0 50px
    width: 50px
    height: 50px
    border-radius: 50%
    overflow: hidden
    border: 1px solid $grey
    +nosel
  &__content
    border-radius: 4px
    background-color: $bg-blue
    padding: 9px 14px
    flex: 1 1 100%
    max-width: 100%
    +r(768)
      min-width: 0
    &__text
      color: $text-middle
      font-weight: 400
      letter-spacing: -0.06px
      line-height: 20px
      font-size: 14px
    &__bottombar
      +nosel
      color: $text-dark
      margin-top: 10px
      flex-flow: wrap
      > *
        margin-top: 10px
  &__constols
    flex: 1 1 auto
    +nosel

  &__date
    flex: 0 1 auto
    text-align: right
    color: $grey-light
    font-size: 10px
    font-weight: 400
    line-height: 11px
    letter-spacing: -0.05px
    margin-left: 40px
    +nosel
    +r(768)
      margin-left: 12px

// History User Reply  (Answer to User Request)
.admin-historypost
    &__avatar
      flex: 0 0 50px
      width: 50px
      height: 50px
      border-radius: 50%
      overflow: hidden
      border: 1px solid $grey
      +nosel
    &__placeholder
      opacity: 0.6
      color: #414141
      font-family: Roboto
      font-size: 14px
      font-weight: 400
      letter-spacing: -0.06px
      line-height: 16px

.admin-historypost-reply
  position: relative
  width: 100%
  margin-bottom: 25px
  flex: 0 0 auto
  margin-top: auto
  &__avatar
    flex: 0 0 50px
    width: 50px
    height: 50px
    border-radius: 50%
    overflow: hidden
    border: 1px solid $grey
    +nosel
  &__content
    border-radius: 4px
    background-color: $selected-blue
    padding: 9px 14px
    flex: 1 1 100%
    max-width: 100%
    min-width: 450px
    +r(768)
      flex: 1 1 89%
      max-width: none
      min-width: auto
    &__text
      color: #fff
      background: transparent
      display: block
      font-size: 14px
      resize: none
      width: 100%
      height: 100%
      border: 0
      font-weight: 100
      letter-spacing: -0.06px
      line-height: 20px
    &__bottombar
      +nosel
      color: $text-dark
      margin-top: 10px
      flex-flow: wrap
      > *
        margin-top: 10px
  &__constols
    flex: 1 1 auto
    +nosel

  &__date
    flex: 0 1 auto
    text-align: right
    color: $grey-light
    font-size: 10px
    font-weight: 400
    line-height: 11px
    letter-spacing: -0.05px
    margin-left: 40px
    +nosel
    +r(768)
      margin-left: 12px

.admin-history
  margin: 0px 30px 30px 
  &-data__delimiter
    margin: 0 30px
  &-post
    flex: 1 1 auto
    padding: 5px 0 15px 0
    border-radius: 4px
    background-color: $bg-blue
    &__content
      padding: 5px 12px
    &__date
      flex: 0 1 auto
      text-align: right
      color: $grey-light
      font-size: 10px
      font-weight: 400
      line-height: 11px
      letter-spacing: -0.05px
      margin-left: 40px
      +nosel
      +r(768)
        margin-left: 12px
//
//****************************************************************************************************************************************************************
//****************************************************************************************************************************************************************
//  ALL ADMIN DASHBOARD STYLES ENDED HERE
//